<configuration>

    <!-- Set these to the default level -->
    <property name="CONSOLE_LEVEL" value="TRACE"/>

    <!-- Set these to the highest level required -->
    <logger name="com.a2i" level="TRACE"/>
    <logger name="io.netty.handler.logging.LoggingHandler" level="TRACE"/>

    <property name="CONSOLE_LOG_PATTERN" value="%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) %cyan(%-40.40logger{40}) - %msg %n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${CONSOLE_LEVEL}</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
